// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
// Variables
@import "variables";
// Bootstrap
@import "bootstrap/bootstrap";

//Vertical menu component
.vmenu {
  padding: 20px 0;
}

.vmenu__item {
  width: 100%;
  font-weight: bold;
  line-height: 50px;
  border-bottom: 1px solid $border-color;
  font-size: 16px;
}

.vmenu__dropdown {
  width: 100%;
}

.vmenu__submenu {
  list-style: none;
  line-height: 25px;

}

.vmenu__submenu__item {
  padding: 5px 0;
  &:nth-child(1) {
    padding-top: 15px;
  }
}

//Vmenu-b

.vmenu-b {
  width: 100%;
  margin: 0;
  & > li > a {
    color: gray;
    font-weight: normal;
    padding-left: 30px;
    &:before {
      content: "\e080";
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 22px;
      -webkit-font-smoothing: antialiased;
      font-size: 10px;
      vertical-align: text-bottom;
      padding-right: 5px;
    }
  }
  & > li.active > a {
    color: $second-color;
  }
}

.vmenu-b__header {
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;
  color: #5bc7b7;
  background: rgb(255, 255, 255);
  padding-left: 25px;
}

.vmenu-b__item {
  width: 100%;
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;

  a{
    padding-left: 30px;
  }
}

//Dropdown menu for noticies

.dropdown_notice {
  width: 220px;
  padding: 15px 10px 5px 10px;
  border-top: 0;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid $body-bg;
    position: absolute;
    top: -10px;
    right: 17px;
  }
}

.dropdown_notice_item {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #5bc7b7;
  border-radius: 5px;
  background: #def4f1;
  padding-top: 10px;
}

.dropdown_notice_close {
  position: absolute;
  top: 2px;
  right: 10px;
  color: #2f99cc;
  cursor: pointer;
  width: auto;
  display: inline-block;
}

/**
  Other ways cant to rewrite bootstrap classes
*/
.dropdown_notice > li > a {
  white-space: normal;
  padding: 5px 15px 20px 10px;
  font-size: 13px;
  cursor: default;
  line-height: 1.4;
  &:hover {
    background: transparent;
  }
}

//Subscription block component

.subscription {
  display: inline-block;
  position: relative;
  width: 260px;
  height: 245px;
  background: #c5c7cc;
  border-radius: 0 0 15px 15px;
  vertical-align: top;
  text-align: left;
  margin: 0 10px;
  margin-top: 40px;
}

.subscription__img {
  height: 120px;
  display: block;
  text-align: center;
  line-height: 120px;
  font-size: 22px;
}

.subscription__h {
  position: relative;
  line-height: 45px;
  background: $second-color;
  margin: 0;
  color: $body-bg;
  padding-left: 15px;
  font-size: 20px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $second-color;
    top: -15px;
    position: absolute;
  }
}

.subscription__font {
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}

.subscription__label {
  @extend .subscription__font;
  position: absolute;
  right: 0;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 25px solid #b1c633;
    border-left: 25px solid transparent;
    position: absolute;
    left: -25px;
  }
}

.subscription__label_left {
  @extend .subscription__font;
  position: relative;
  left: 10px;
  display: inline-block;
  vertical-align: top;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 25px solid #b1c633;
    border-right: 25px solid transparent;
    position: absolute;
    right: -25px;
  }
}

.subscription__label_best {
  background: #b1c633;
  color: white;
  padding: 0 20px;
}

.subscription__label_new {
  background: #f08a00;
  color: white;
  padding: 0 20px;
  &:before {
    border-top-color: #f08a00;
  }
}

.subscription__describe {
  height: 80px;
  padding: 30px 0 0 14px;
  border: 1px solid $border-color;
  border-radius: 0 0 15px 15px;
  background: white;
  line-height: 10px;
  font-size: 12px;
}

//Subdetail component
.subdetail_header {
  vertical-align: top;
  font-size: 22px;
  color: $second-color;
  font-weight: bold;
}

.subdetail__rate {
  border-top: 1px solid $border-color;
  margin-top: 20px;
  padding-top: 20px;
}

//Image Thumbs component
.field-image-big {
  height: 200px;
  background: $border-color;
}

.field-image-big_img {
  height: 100%;
  line-height: 200px;
  color: $body-bg;
  text-align: center;
  display: none;
  &.active {
    display: block;
  }
}

.field-image-list {
  margin-top: 10px;
  height: 90px;
  white-space: nowrap;
  overflow-x: hidden;
}

.field-image-list_img {
  display: inline-block;
  vertical-align: top;
  background: $border-color;
  width: 110px;
  margin-right: 5px;
  height: 60px;
}

//Login Form Component
.login {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: #2f99cc url(/img/background.jpg);
  background-size: cover;
}

.login_form {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 30px;
  a {
    color: white;
  }
}

.login_form_group {
  width: 100%;
  margin: 30px 0;
}

.login_form_group_bordered {
  border: 1px solid white;
  border-radius: 5px;
  margin: 30px 0;
}

.login_form_group_text {
  margin: -15px 0;
  width: 100%;
}

.login_form_addon {
  background: transparent;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 16px;
  i {
    border-right: 1px solid white;
    padding: 0 5px;
  }
}

.login_form_input {
  background: transparent;
  color: white;
  border: 0;
  border-radius: 0;
  &:focus {
    box-shadow: none;
  }
}

.login_form_submit {
  border: 0;
  background: #5bc7b7;
  color: white;
  width: 100%;
  text-transform: uppercase;
}

//end loin-form

//Credit Card Component
/* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box{
  input{
    &::-webkit-input-placeholder {color:#e4e4e4;}
    &::-moz-placeholder          {color:#e6e6e6;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#e6e6e6;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#e6e6e6;}
  }
}
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card_padding{
  padding-left: 0;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}
.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}
//End CreditCard
.button {
  border: 0;
  background: #5bc7b7;
  padding: 10px 50px;
  color: white;
  &:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.breadcrumb_border {
  background: $body-bg;
  border-bottom: 1px solid $border-color;
  border-radius: 0;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

/**
 Font Color Modoficators
 */
.green {
  color: #5bc7b7 !important;
}

.blue {
  color: $second-color !important;
}

.background-gray {
  background-color: #eeeeee !important;
}

.content {
  min-height: 90vh;
  background: $body-bg;
  margin-top: 20px;
  padding-left: 20px;
}

.aside__left {
  background: white;
  border-right: 1px solid #e4e4e4;
  padding-right: 0;
  margin-top: 20px;
  padding-left: 0;
  .navbar-collapse {
    padding: 0;
    margin: 0;
  }
  .container-fluid{
    padding: 10px 0 20px 0;
  }
  .navbar-header{
    margin: 0;
  }
}

.header {
  display: block;
  height: 150px;
  background: #027fae url(/img/banner.jpg);
  background-size: cover;
  text-align: center;
  h1 {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    vertical-align: top;
    line-height: 150px;
    margin: 0;
  }
}

input[type=checkbox] {
  cursor: pointer;
}

input[type=checkbox]:after {
  content: "\00a0";
  position: absolute;
  visibility: visible;
  top: -2px;
  background-color: #0191c3;
  display: inline-block;
  font-size: 12px;
  border: 1px solid white;
  padding: 0 2px;
  text-align: center;
  min-width: 16px;
  line-height: 14px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
}

.dropdown-toggle {
  line-height: 22px;
  padding: 14px 15px;
  i {
    font-size: 20px;
  }
}

.navbar-default .navbar-nav > li > a {
  height: 50px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: auto !important;
  min-height: 100%;
}

main {
  padding-bottom: 40px;
}

