// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
// Variables
@import "variables";
// Bootstrap
@import "bootstrap/bootstrap";

//Vertical menu component
.vmenu {
  padding: 20px 0;
}

.vmenu__item {
  width: 100%;
  font-weight: bold;
  line-height: 50px;
  border-bottom: 1px solid $border-color;
  font-size: 16px;
}

.vmenu__dropdown {
  width: 100%;
}

.vmenu__submenu {
  list-style: none;
  line-height: 25px;

}

.vmenu__submenu__item {
  padding: 5px 0;
  &:nth-child(1) {
    padding-top: 15px;
  }
}

//Dropdown menu for noticies

.dropdown_notice {
  width: 220px;
  padding: 15px 10px 5px 10px;
  border-top: 0;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid $body-bg;
    position: absolute;
    top: -10px;
    right: 10px;
  }
}

.dropdown_notice_item {
  margin-bottom: 10px;
  border: 1px solid #5bc7b7;
  border-radius: 5px;
  background: #def4f1;
}

.dropdown_notice_close{
  position: relative;
  top: 2px;
  left: 180px;
  color: #2f99cc;
  cursor: pointer;
}
/**
  Other ways cant to rewrite bootstrap classes
*/
.dropdown_notice > li > a {
  white-space: normal;
  padding: 5px 15px 20px 10px;
  font-size: 13px;
  cursor: default;
  line-height: 1.4;
  &:hover{
    background: transparent;
  }
}

//Subscription block component

.subscription {
  display: inline-block;
  position: relative;
  width: 260px;
  height: 245px;
  background: #c5c7cc;
  border-radius: 0 0 15px 15px;
  vertical-align: top;
  margin: 0 10px;
  margin-top: 40px;
}

.subscription__img {
  height: 120px;
  display: block;
  text-align: center;
  line-height: 120px;
  font-size: 22px;
}

.subscription__h {
  position: relative;
  line-height: 45px;
  background: $second-color;
  margin: 0;
  color: $body-bg;
  padding-left: 15px;
  font-size: 20px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $second-color;
    top: -15px;
    position: absolute;
  }
}

.subscription__font {
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}

.subscription__label {
  @extend .subscription__font;
  position: absolute;
  right: 0;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 25px solid #b1c633;
    border-left: 25px solid transparent;
    position: absolute;
    left: -25px;
  }
}

.subscription__label_left {
  @extend .subscription__font;
  position: relative;
  left: 10px;
  display: inline-block;
  vertical-align: top;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 25px solid #b1c633;
    border-right: 25px solid transparent;
    position: absolute;
    right: -25px;
  }
}

.subscription__label_best {
  background: #b1c633;
  color: white;
  padding: 0 20px;
}

.subscription__label_new {
  background: #f08a00;
  color: white;
  padding: 0 20px;
  &:before {
    border-top-color: #f08a00;
  }
}

.subscription__describe {
  height: 80px;
  padding: 30px 0 0 14px;
  border: 1px solid $border-color;
  border-radius: 0 0 15px 15px;
  background: white;
  line-height: 10px;
  font-size: 12px;
}

//Subdetail component
.subdetail_header {
  vertical-align: top;
  font-size: 22px;
  color: $second-color;
  font-weight: bold;
}

.subdetail__rate {
  border-top: 1px solid $border-color;
  margin-top: 20px;
  padding-top: 20px;
}

//Image Thumbs component
.field-image-big {
  height: 200px;
  background: $border-color;
}

.field-image-big_img {
  height: 100%;
  line-height: 200px;
  color: $body-bg;
  text-align: center;
  display: none;
  &.active {
    display: block;
  }
}

.field-image-list {
  margin-top: 10px;
  height: 90px;
  white-space: nowrap;
  overflow-x: hidden;
}

.field-image-list_img {
  display: inline-block;
  vertical-align: top;
  background: $border-color;
  width: 110px;
  margin-right: 5px;
  height: 60px;
}

.button {
  border: 0;
  background: #5bc7b7;
  padding: 10px 50px;
  color: white;
  &:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.breadcrumb_border {
  background: $body-bg;
  border-bottom: 1px solid $border-color;
  border-radius: 0;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

/**
 Font Color Modoficators
 */
.green {
  color: #5bc7b7 !important;
}

.blue {
  color: $second-color !important;
}

.header {
  display: block;
  height: 150px;
  background: #027fae url(/img/banner.jpg);
  background-size: cover;
  text-align: center;
  h1{
    text-transform: uppercase;
    color: white;
    display: inline-block;
    vertical-align: top;
    line-height: 150px;
    margin: 0;
  }
}
